*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}

.vid-container{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

video{
    height: 100%;
    width: 100%;
}

.action-cont{
    height: 12rem;
    width: 5rem;
    /*background-color: lightblue;*/
    position: absolute;
    top: calc((100vh - 12rem)/2);
    right: 5rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    margin-right: -35px;

}
.action-cont > *{
    width: 100%;
    height: 5rem;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.record-btn{
    background-color: red;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.capture-btn{
    background-color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.scale-record{
    animation-name: scale-record;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes scale-record {
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.1);
    }
}

.scale-capture{
    animation-name: scale-capture;
    animation-iteration-count: 1;
    animation-duration: 1s;
}

@keyframes scale-capture {
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.1);
    }
}

.timer-cont{
    height: 16rem;
    width: 5rem;
    position: absolute;
    top: calc((100vh - 35rem)/2);
    left: calc((100vh - 35rem)/2);
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: -90px;
   
}

.timer{
    display: none;
    

   
}

.timer-color{
    color: red;
    padding-bottom: 50px;
    
}

.filter-cont{
    height: 16rem;
    width: 5rem;
    background-color: aqua;
    position: absolute;
    top : calc((100vh - 16rem)/2); 
    left: 3rem;
    z-index: 2;
}
.filter{
    background-image: url("https://picsum.photos/seed/picsum/200/300");
    height: 4rem;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
}
.orange{
     background-color: #ffa50024
}
.brown{
    background-color: #a52a2a40;
}
.pink{
    background-color: #ffc0cb4d;
}
.transparent{
    background-color: transparent;
}
.filter-layer{
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}